body{ 
    background-image: url(../fondo.jpg); 
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed ;
    background-repeat: no-repeat;
    height: 120vh;
}
.caja{
    border-radius: 20px;
    color: #fff;
    margin: 50px auto;
    border: 3px solid #fff;
    text-align: center;
    width:500px;
    background:rgba(91, 11, 94, 0.849);
} 
.btn{ 
    width: 200px;
    height: 50px;
    border-radius: 15px;
    background: rgba(30, 143, 255, 0.719);
    border: 3px solid rgba(21, 94, 25, 0.288); ;
    margin-bottom: 20px;  
    color: #fff;
 }
.btn:hover{
     background: rgba(16, 107, 72, 0.979);
     color: white;
     border: 3px solid rgb(139, 10, 32);
 }
.caja1{
    border-radius: 20px;
    border: 2px solid rgb(212, 12, 38);
    margin-top: 60px;
    margin: 20px auto ;
    text-align: center;
    color: #fff;
    width:400px;
    background:rgba(10, 59, 55, 0.836);
} 
h1{
    color: #fff;
}
@media(max-width:650px){
    .btn{
        width: 150px;
    }
    h1{
        font-size: 30px;
    }
}